<%- include('partials/header') %>

<div class="container">

 <h3 class="text-red"><%= error %> </h3> 

    <div class="jumbotron">
        <div class="display-1 text-center">Sign In</div>
    </div>
    <form action="/signIn" method="post">
         <div class="mx-auto w-50">

            <div class="my-5 ">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <a href="/signUp">New Customer? Sign Up here</a>
              <button type="submit" class="btn btn-primary">Submit</button>
         </div>

           

    </form>
</div>


<%- include('partials/footer') %>