.card {
    width: 100%;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}



.name {
    font-weight: bold
}

.idd {
    font-weight: 600
}

.number {
    font-weight: bold
}

.follow {
    font-weight: 500;
    color: #444444
}

.btn1 {
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    color: #545454;
    font-weight: 500
}


hr .new1 {
    border: 1px solid
}

.join {
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}